{% extends "base.html" %}

{% block content %}
    {{ object.name }}<br>{{ object.get_type_display }}<hr>
    {% for occurence in object.namedentityoccurrence_set.all %}
        {% if occurence.content_type.model == "show" %}
            <a href="{% url 'detail' occurence.object_id %}">{{ occurence.content_object.get_title_ru }}</a>
        {% elif occurence.content_type.model == "article" %}
            <a href="{% url 'news_detail' occurence.object_id %}">{{ occurence.content_object }}</a>
        {% elif occurence.content_type.model == "fact" %}
            <a href="{% url 'detail' occurence.content_object.show.id %}">{{ occurence.content_object.show.get_title_ru }}</a>
            {{ occurence.content_object.string_marked|safe }}
        {% elif occurence.content_type.model == "review" %}
            {{ occurence.content_object.show.get_title_ru }}
            <a href="{% url 'detail' occurence.content_object.show.id %}?review={{ occurence.content_object.id }}#review-{{ occurence.content_object.id }}">
            {% if occurence.content_object.title %}
                {{ occurence.content_object.title }}
            {% else %}
                {{ occurence.content_object.description|slice:":100" }}...
            {% endif %}
            </a>
        {% else %}
            {{ occurence.content_object }}
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h4>Похожие:</h4>
    {% for entity in similary_entities %}
        <a href="{% url 'named_entity' entity.id %}">{{ entity.name }}</a> {{ entity.get_type_display }}<br>
    {% endfor %}
{% endblock %}