{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{ object.name }}</h4>
                <h5>{{ object.get_type_display }}</h5>
                <hr>
            </div>
        </div>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for show in shows %}
                <div class="col-md-6 p-1">
                    <div class="card" >
                        <div class="row row-cols-2">
                            <div class="col">
                                <a href="{% url 'detail' show.id %}">
                                    <img class="card-img-top" src="{{ show.get_poster }}" alt="..." style="max-width: 12rem;margin-left: auto;margin-right: auto;display: block;">
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title">{{ show.get_title_ru }}</h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    {% for data in show.display_data %}
                                        <p>...{{ data|safe }}...</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for occurence in page_obj.object_list %}
                {% if occurence.content_type.model == "article" %}
                    <div class="col-md-6 p-1">
                        <div class="card">
                            <div class="row row-cols-2">
                                <div class="col" style="max-width: 12rem;">
                                    <a href="{% url 'news_detail' occurence.object_id %}">
                                        <img class="card-img-top" src="{{ occurence.content_object.articleimage_set.first.image.url }}" alt="..." style="max-width: 12rem;margin-left: auto;margin-right: auto;display: block;">
                                    </a>
                                    <div class="card-body">
                                        <h6 class="card-title">{{ occurence.content_object.title }}</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <p>...{{ occurence.occurrence_context|safe }}...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; first</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h4>Похожие:</h4>
    {% for entity in similary_entities %}
        <a href="{% url 'named_entity' entity.id %}">{{ entity.name }}</a> {{ entity.get_type_display }}<br>
    {% endfor %}
{% endblock %}