<div class="row p-3 border">
    <div class="fs-4">{{ page_obj.title }}</div>
    {% for item in page_obj.data %}
        <div class="row border">
            <div class="fs-4"><span class="badge bg-light text-dark">{{ item.title }}</span> {{ item.shows_data }}</div>
            {% for item in item.show_set.all|slice:":3" %}
                <div class="row p-1"><a class="fs-6 btn-light" href="{% url 'detail' item.id %}">{{ item.title_ru }}</a></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>