{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row" style="width:300px;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000" style="background-color:#f8edeb">
                        <ol class="carousel-indicators">
                            {% for poster in posters %}
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"{% if forloop.counter0 == 0%} class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner rounded">
                            {% for poster in posters %}
                                <div class="carousel-item{% if forloop.counter0 == 0%} active{% endif %}">
                                    <img src="{{ poster.image.url }}" class="d-block img-fluid mx-auto " alt="..." style="max-height: 400px;">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    trailer
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h1>{{ object.get_title_ru }}</h1>
                    <h3>{{ object.title_original }}</h3>
                </div>
                <div class="fs-4"><span class="badge bg-light text-dark">Дата выхода:</span> {{ object.started|date:"d.m." }}<a class="fs-4 link-dark" href="{% url 'all' %}?year={{ object.started.year }}">{{ object.started.year }}</a></div>
                <div class="fs-4"><span class="badge bg-light text-dark">Страна:</span>
                    {% for country in object.country.all %}{% if forloop.counter0 > 0%}, {% endif %}<a class="fs-6 link-dark" href="{% url 'all' %}?country={{ country.id }}">{{ country.name_ru }}</a>{% endfor %}</div>
                <div class="fs-4"><span class="badge bg-light text-dark">Жанры:</span>
                    {% for genre in object.genres.all %}{% if forloop.counter0 > 0%}, {% endif %}<a class="fs-6 link-dark" href="{% url 'all' %}?genre={{ genre.id }}">{{ genre.title }}</a>{% endfor %}</div>
                <div class="fs-4"><span class="badge bg-light text-dark">Тэги:</span>
                    {% for tag in object.tags.all %}{% if forloop.counter0 > 0%}, {% endif %}<a class="fs-6 link-dark" href="{% url 'all' %}?tag={{ tag.id }}">{{ tag.title }}</a>{% endfor %}</div>
                <div class="fs-4"><span class="badge bg-light text-dark">Формат:</span><a class="fs-6 link-dark" href="{% url 'all' %}?category={{ object.category }}">{{ object.get_category_display }}</a>, <a class="fs-6 link-dark" href="{% url 'all' %}?type={{ object.type }}">{{ object.get_type_display }}</a></div>
                <div class="fs-4"><span class="badge bg-light text-dark">Режиссёр:</span>
                    {% for role in object.personrole_set.all %}{% if role.role == "director" %}{% if forloop.counter0 > 0%}, {% endif %}<a class="fs-6 link-dark" href="{% url 'all' %}?person={{ role.person.id }}">{{ role.person.get_name }}</a>{% endif %}{% endfor %}
                </div>
                <div class="fs-6"><span class="badge bg-light text-dark">Канал:</span> {{ object.network }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Сезонов:</span> {{ object.seasons_total }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Общая длительность:</span> {{ object.runtime_total }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Длительность эпизода:</span> {{ object.runtime_one }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Рейтинг MyShows:</span> {{ object.myshows_rating }} : {{ object.myshows_voted }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Рейтинг Кинопоиска:</span> {{ object.kinopoisk_rating }} : {{ object.kinopoisk_voted }}</div>
                <div class="fs-6"><span class="badge bg-light text-dark">Рейтинг IMDB:</span> {{ object.imdb_rating }} : {{ object.imdb_voted }}</div>

            </div>
        </div>
        <div class="row">
            <p>{{ object.description|safe }}</p>
        </div>
        <div class="row">
            <h4>Актёры</h4>
            <div class="list-group list-group-horizontal">
                {% for role in actor_roles %}
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex justify-content-center">
                            {% if role.person.animated_poster %}
                            <video width="150" autoplay muted loop>
                                <source src="{{ role.person.animated_poster.url }}" type="video/mp4">
                                Your browser does not support HTML video.
                            </video>
                            {% else %}
                                {% if role.person.personimage_set.count > 0 %}
                                    <img src="{{ role.person.personimage_set.first.image.url }}" class="d-block img-fluid mx-auto " alt="..." style="width: 150px;">
                                {% else %}
                                    <img src="/media/empty.jpg" class="d-block img-fluid mx-auto " alt="..." style="width: 150px;">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>{{ role.person.get_name }} : {{ role.description }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <h4>Сезоны</h4>
    <div class="list-group">
        {% for season_item in object.season_set.all %}
            <a href="{% url 'detail_season' object.id season_item.number %}" class="list-group-item list-group-item-action{% if season_item == season %} active{% endif %}" aria-current="true">{{ season_item.number }}</a>
        {% endfor %}
    </div>
    <h4>Эпизоды</h4>
    <div class="list-group">
        {% for episode_item in season.episode_set.all %}
            <div class="list-group-item list-group-item-action{% if season_item == season %} active{% endif %}" aria-current="true">
                <div>{{ episode_item.number }} : {{ episode_item.get_title }}</div>
                Настроение комментариев ({{ episode_item.episodecomment_set.count }}):
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ episode_item.get_comments_temperature.dost_positive__avg|percentage }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ episode_item.get_comments_temperature.dost_neutral__avg|percentage }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ episode_item.get_comments_temperature.dost_negative__avg|percentage }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}