{% load static %}
<header role="banner">
    <div class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="My image">
                </a>
            </div>
            <div class="nav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link{% if active == 'all' %} active{% endif %}" href="{% url 'all' %}">Сериалы</a></li>
                    <li class="nav-item"><a class="nav-link{% if active == 'news' %} active{% endif %}" href="{% url 'news' %}">Новости</a></li>
                    <li class="nav-item"><a class="nav-link{% if active == 'ratings' %} active{% endif %}" href="{% url 'ratings' %}">Рейтинги</a></li>
                    <li class="nav-item"><a class="nav-link{% if active == 'trivia' %} active{% endif %}" href="{% url 'trivia' %}">Викторина</a></li>
                </ul>
            </div>
            <form class="d-flex" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" name="q" autocomplete="off" placeholder="Найти сериал" id="searchSuggestionsInput">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" title="Найти">Найти</button>
            </form>
        </div>
    </div>
</header>