{% extends "base.html" %}

{% block content %}
{% include "myshows/article_list_block.html" with page_obj=news_list %}
{% endblock %}

{% block sidebar %}
    <table class="table">
        <tbody>
            {% for show in shows %}
                <tr>
                    <td>
                        <a class="btn btn-light" href="{% url 'detail' show.id %}">{{ show.title_ru }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}