{% extends "base.html" %}

{% block content %}
    {% csrf_token %}
    <div id="question_img" class="col d-flex align-content-center flex-wrap" style="width: 700px; height: 400px">
        {% if question.type == 0 %}
            <img src="{{ question.image }}" class="img-fluid" alt="..." style="height: 100%; width: 100%; object-fit: contain">
        {% else %}
            <div class="row">
            {% for image_url in question.image %}
                <div class="col p-0">
                <img src="{{ image_url }}" class="img-fluid" alt="..." style="height: 100%; width: 100%; object-fit: contain">
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="row" style="width: 700px">
        <ul id="simpleList" class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-action" id="answer0" value="0">{{ question.variants.0 }}</li>
            <li class="list-group-item list-group-item-action" id="answer1" value="1">{{ question.variants.1 }}</li>
            <li class="list-group-item list-group-item-action" id="answer2" value="2">{{ question.variants.2 }}</li>
            <li class="list-group-item list-group-item-action" id="answer3" value="3">{{ question.variants.3 }}</li>
        </ul>
    </div>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var need_to_update = false;

        function fillQuestion(question) {
            switch (question['type']) {
                case 0:
                    $('#question_img').html('<img src="' + question['image'] + '" class="img-fluid" alt="..." style="height: 100%; width: 100%; object-fit: contain">');
                    break;
                case 1:
                    var html_string = '<div class="row">';
                    question['image'].forEach(function(item, i, arr) {
                        html_string += '<div class="col p-0">\n' +
                            '<img src="' + item + '" class="img-fluid" alt="..." style="height: 100%; width: 100%; object-fit: contain">' +
                            '</div>';
                    });
                    html_string += '</div>';
                    $('#question_img').html(html_string);
                    break;
                default:
                    break;
            }
            $('#answer0').text(question['variants'][0]);
            $('#answer0').removeClass('list-group-item-success');
            $('#answer0').removeClass('list-group-item-danger');
            $('#answer1').text(question['variants'][1]);
            $('#answer1').removeClass('list-group-item-success');
            $('#answer1').removeClass('list-group-item-danger');
            $('#answer2').text(question['variants'][2]);
            $('#answer2').removeClass('list-group-item-success');
            $('#answer2').removeClass('list-group-item-danger');
            $('#answer3').text(question['variants'][3]);
            $('#answer3').removeClass('list-group-item-success');
            $('#answer3').removeClass('list-group-item-danger');
        }

        function checkAnswer() {
            $('#simpleList').off();
            need_to_update = true;

            $.ajax({
                method: "POST",
                url: "{% url 'check_trivia' %}",
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    answer: $(this).val(),
                },
                context: this,
                success: function(response) {
                    if (response['result']) {
                        $(this).addClass('list-group-item-success');
                    } else {
                        $(this).addClass('list-group-item-danger');
                        $('#answer' + response['correct_answer']).addClass('list-group-item-success');
                    }
                    $('#score').text(response['score']);
                    setTimeout(function(){
                        if (need_to_update) {
                            need_to_update = false;
                            fillQuestion(response['question']);
                            $("#simpleList").on('click', 'li', checkAnswer);
                        }
                    }, 1000);
                },
                error: function(e) {
                    alert("Error: " + e);
                }
            });
        }

        $("#simpleList").on('click', 'li', checkAnswer);
    </script>
{% endblock %}

{% block sidebar %}
    <h4>Счёт: <span id="score" class="badge bg-danger">{{ score }}</span></h4>
    <h4>Режим</h4>
    <ul id="modeList" class="list-group">
        <li class="list-group-item list-group-item-action{% if mode == 'all' %} active{% endif %}" aria-current="true" value="all">Все</li>
        <li class="list-group-item list-group-item-action{% if mode == 'shows' %} active{% endif %}" aria-current="true" value="shows">Сериалы</li>
        <li class="list-group-item list-group-item-action{% if mode == 'cartoon' %} active{% endif %}" aria-current="true" value="cartoon">Мультфильмы</li>
        <li class="list-group-item list-group-item-action{% if mode == 'anime' %} active{% endif %}" aria-current="true" value="anime">Аниме</li>
        <li class="list-group-item list-group-item-action{% if mode == 'russia' %} active{% endif %}" aria-current="true" value="russia">Россия</li>
        <li class="list-group-item list-group-item-action{% if mode == 'america' %} active{% endif %}" aria-current="true" value="america">Америка</li>
    </ul>
    <script>
        function switchMode() {
            var mode = $(this).attr("value");
            $.ajax({
                method: "POST",
                url: "{% url 'check_trivia' %}",
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    mode: mode,
                },
                context: this,
                success: function(response) {
                    if (need_to_update) {
                        need_to_update = false;
                        $("#simpleList").on('click', 'li', checkAnswer);
                    }
                    $("#modeList li").each(function(idx, li) {
                            $(li).removeClass('active');
                            if ($(li).attr('value') == mode) {
                                $(li).addClass('active');
                            };
                        }
                    );

                    fillQuestion(response['question']);
                },
                error: function(e) {
                    alert("Error: " + e);
                }
            });
        }

        $("#modeList").on('click', 'li', switchMode);
    </script>
{% endblock %}