{% extends "base.html" %}

{% block content %}
    {% csrf_token %}
    <div class="col" style="width: 700px; height: 400px">
        <img src="{{ question.image.url }}" class="img-fluid" alt="..." style="height: 100%; width: 100%; object-fit: contain">
        <ul id="simpleList" class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-action" id="answer0">{{ question.variants.0 }}</li>
            <li class="list-group-item list-group-item-action" id="answer1">{{ question.variants.1 }}</li>
            <li class="list-group-item list-group-item-action" id="answer2">{{ question.variants.2 }}</li>
            <li class="list-group-item list-group-item-action" id="answer3">{{ question.variants.3 }}</li>
        </ul>
    </div>
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    function checkAnswer() {
        $.ajax({
            method: "POST",
            url: "{% url 'check_trivia' %}",
            headers: {'X-CSRFToken': csrftoken},
            data: {
                answer: $(this).text(),
            },
            context: this,
            success: function(response) {
                if (response['result']) {
                    $(this).addClass('list-group-item-success');
                } else {
                    $(this).addClass('list-group-item-danger');
                }
                location.reload();
            },
            error: function(e) {
                alert("Error: " + e);
            }
        });
    }

    $("#simpleList").on('click', 'li', checkAnswer);
</script>
{% endblock %}

{% block sidebar %}
    <h4>Счёт: <span class="badge bg-danger">{{ score }}</span></h4>
{% endblock %}