{% load app_tags %}
{% load static %}

<div class="clearfix border rounded p-2" >
    <div class="float-md-start mb-3 me-3">
        <div style="width: 12rem; height: 7rem;">
            <a href="{% url 'news_detail' article.id %}">
                <img src="{% if article.articleimage_set.exists %}{{ article.articleimage_set.first.image.url }}{% else %}{% static 'placeholder-wide.jpg' %}{% endif %}" alt="..." style="max-width: 12rem;margin-left: auto;margin-right: auto;display: block;">
            </a>
        </div>
        <div class="p-2 text-center" style="max-width: 12rem;">
            <span class="fw-bold">{{ article.title }}</span>
        </div>
    </div>
    {% for data in article.display_data %}
        <p class="fs-6">...{{ data.window_left|safe }}<a class="btn badge bg-occurrence" href="{% get_url_for_named_entity_content data %}">{{ data.window_text }}</a>{{ data.window_right|safe }}...</p>
    {% endfor %}
</div>